header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 4px solid #247182;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  height: 40px;
  width: auto;
}

.logo-container {
  padding-top: 18px;
}

.navitems {
  display: flex;
  margin:0;
  /*cursor: pointer;*/
}

li {
  font-size: 15px;
  padding: 30px 20px;
  display: inline;
  border: 1px solid transparent;
}

li a {
  color:black;
  text-decoration: none;
}

a {
  text-decoration: none;
}


li:hover {
  background-color: #f4f4f4;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

#donate {
  color: #8B0000;
  font-weight: bold;
}

.socials {
  height: 60px;
  text-align: center;
  background-color: #004452;

}

.social {
  height: 30px;
  width: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.leaderboard {
  margin-top: 22px;
  margin-bottom: 0;
  width: 100%;
  display: block;
}

#billboard {
  position: relative;
}

.billboard {
  width: 100%;
}

.caption {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: white;
  width: 260px;
  line-height: 1.2em;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h2{
  font-size: 14px;
  font-weight: normal;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

h3 a:visited {
  color: white;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service {
  width: 100%;
}

.services a {
  margin-right: 20px;
}

#service4 {
  margin-right: 0;
}

.card-container {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
}

a .card {
  width: auto;
  height: 80%;
}

.text {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 20px;
  text-align: left;
  width: 400px;
}

.text .h1, .text .h2, .text .h3 {
  font-size: 18px;
}

.h1 a:visited {
  color:black;
}

.text .h1:hover {
  text-decoration: underline;
}

.text .h2{
  font-weight: 200;
  line-height: 1.6em;
}

.text #more {
  font-size: 19px;
  color: #247182;
  border: 2px solid #247182;
  margin-top: 24px;
  width:50%;
  padding: 4% 3%;
  text-align: center;
  font-weight: normal;
}

#more a {
  text-decoration: none;
}

#more:hover {
  color: white;
  background-color: #247182;
}

#more a:visited {
  color: #247182;
}

#more a:visited:hover {
  color: white;
}

.pics {
  text-align: center;
}

.sponser-title {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  padding-bottom: 20px;
}

.sponser {
  padding-top: 20px;
}

.cards { grid-area: left; }
.sponsers   { grid-area: right; }

.wrapper {  display: grid;  grid-template-columns: repeat(9, 1fr);
grid-template-areas:
    "left left left left left left right right right";
   margin: 0; }

.wrapper > * {
  margin: 0;  }

.buttons {
  display:flex;
}

.buttons a {
  padding: 8px 16px;
  color: #247182;
}

.button a:hover, .button a:active, .button a:visited {
    color: #014452;
}

.blogposts {
  font-weight: normal;
}

.button {
  margin-right: 15px;
  padding: 8px 16px;
  border: 1px solid #247182;
  font-size: .8rem;
  font-weight: 700;
  background: white;
  height: 38px;
}

.button:hover {
  color: white;
  background-color: #247182;
  text-decoration: underline;
}


.button a:visited:hover {
  color: white;
}

.blogs {
  display:block;
}
